body {
      background-image: url("https://i.ibb.co/FkYB2h51/Background-Daniela-Frame-Love-GFX.gif");
      background-size: cover;
          /* Para ajustar la imagen al tamaño de la ventana del navegador */
    }
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
    }